{% extends "table.html" %}

{% block table %}
<table id="authors">
	<thead>
		<tr>
			<th>Author ID</th>
			<th>Author</th>
			<th>Book Count</th>
			<th>Series Count</th>
			<th>Total Pages</th>
			<th>Series</th>
			<th>Genres</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		var table = $('#authors').DataTable(
			{
				ajax: "api/authors",
				serverSide: true,
				lengthChange: true,
				columns: [
					{data: "author_id", visible: false, searchable: false, orderable: false},
					{
						data: "author",
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							return "<a href={{ url_for('authors') }}?id=" + row.author_id + ">" + row.author + "</a>"
						}
					},
					{data: "book_count", searchable: false, searchBuilderType: "num"},
					{data: "series_count", searchable: false, searchBuilderType: "num"},
					{data: "page_count", searchable: false, searchBuilderType: "num"},
					{
						data: "serieses",
						orderable: false,
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							if (!row.serieses || row.serieses.length === 0) {
								return null;
							}
							var cell = "<ul>";
							for (const series_info of row.serieses.map((e, i) => ({series: e, series_id: row.serieses_ids[i]}))) {
								cell += "<li><a href={{ url_for('series') }}?id=" + series_info.series_id + ">" + series_info.series + "</a></li>";
							}
							cell += "</ul>"
							return cell;
						}
					},
					{
						data: "genres",
						orderable: false,
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							if (!row.genres) {
								return null
							}
							var cell = "<ul>";
							for (const genre of row.genres) {
								cell += "<li>" + genre + "</li>";
							}
							cell += "</ul>"
							return cell;
						}
					},
				],
				order: {
					name: 'author',
					dir: 'asc'
				},
				layout: {
					top: {
						searchBuilder: {
							columns: [1, 2, 3, 4, 5, 6, 7],
							greyscale: true,
						}
					}
				},
				language: {
					searchBuilder: {title: "<h3>Advanced Search</h3>"}
				},
			}
		);

		table.on('responsive-resize', function (_, __, ____) {
			$('tr').each(function () {$(this).find('td:visible:last').addClass('last-visible-td')});
		});
	});
</script>
{% endblock %}