<!doctype html>
<html>

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/date-1.5.4/r-3.0.3/sb-1.8.1/datatables.min.css"
		rel="stylesheet">
</head>

<body>
	<nav>
		<a href="{{ url_for('index') }}">Home</a>
		<a href="{{ url_for('books') }}">Books</a>
		<a href="{{ url_for('authors') }}">Authors</a>
		<a href="{{ url_for('serieses') }}">Series</a>
	</nav>
	<div class="container">
		<h1>{{ title }}</h1>
		<hr>
		{% block content %}{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/date-1.5.4/r-3.0.3/sb-1.8.1/datatables.min.js"></script>
	{% block scripts %}{% endblock %}
</body>

</html>