{% extends "base.html" %}

{% block content %}
<table id="books">
	<thead>
		<tr>
			<th>Book ID</th>
			<th data-dt-order="disable">Cover</th>
			<th>Title</th>
			<th>Author</th>
			<th>Page Count</th>
			<th>Genre</th>
			<th>Series</th>
			<th>Series Number</th>
			<th>Series Number (Chronological)</th>
			<th>Subseries</th>
			<th>Subseries Number</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		var table = $('#books').DataTable(
			{
				ajax: {
					url: "api/books",
					data: {
						author_id: "{{ author_id }}",
						series_id: "{{ series_id }}",
					},
				},
				serverSide: true,
				lengthChange: true,
				columns: [
					{data: "book_id", visible: false, searchable: false, orderable: false},
					{
						data: "cover", orderable: false, searchable: false, render: function (data, _, __, ___) {
							var cell = data ? "<img src=data:image/png;base64," + data.replace(/[|\n\r]/gm, "") + " width=100px />" : "No Cover Available"
							return cell
						}
					},
					{data: "title", searchBuilderType: "string"},
					{
						data: function (row, _, __, ___) {
							return "<a href={{ url_for('authors') }}?id=" + row.author_id + ">" + row.author + "</a>"
						}, searchBuilderType: "string",
					},
					{data: "page_count", searchable: false, searchBuilderType: "num"},
					{data: "genre", searchBuilderType: "string"},
					{
						data: function (row, _, __, ___) {
							var cell = row.series ? "<a href={{ url_for('series') }}?id=" + row.series_id + ">" + row.series + "</a>" : null
							return cell
						}, searchBuilderType: "string",
					},
					{data: "series_number", searchBuilderType: "num"},
					{data: "series_number_chron", searchBuilderType: "num"},
					{data: "subseries", searchBuilderType: "string"},
					{data: "subseries_number", searchBuilderType: "num"},
				],
				order: {
					name: 'author',
					dir: 'asc'
				},
				layout: {
					top: {
						searchBuilder: {
							columns: [1, 2, 3, 4, 5, 6, 7, 8, 9],
							greyscale: true,
						}
					}
				},
				language: {
					searchBuilder: {title: "<h3>Advanced Search</h3>"}
				},
				// Link row to book page
				drawCallback: function (settings) {
					$('#books tbody tr').click(function () {
						var id = table.row(this).data().book_id
						document.location.href = "{{ url_for('books') }}?id=" + id
					})

				}
			}
		);
	});
</script>
{% endblock %}