{% extends "table.html" %}

{% block table %}
<table id="books">
	<thead>
		<tr>
			<th data-dt-order="disable">Cover</th>
			<th>Title</th>
			<th>Author</th>
			<th>Page Count</th>
			<th>Read Count</th>
			<th>Genre</th>
			<th>Series</th>
			<th>Series Number</th>
			<th>Series Number (Chronological)</th>
			<th>Subseries</th>
			<th>Subseries Number</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		var table = $('#books').DataTable(
			{
				serverSide: true,
				lengthChange: true,
				responsive: true,
				ajax: {
					url: "api/data",
					data: {
						query_type: "books",
						author_id: "{{ author_id }}",
						series_id: "{{ series_id }}",
						unread: "{{ unread }}",
					},
				},
				columns: [
					{
						data: "cover",
						orderable: false,
						searchable: false,
						render: function (_, __, row, ___) {
							return row.cover ?
								"<a href={{ url_for('books') }}?id=" + row.id + "><img src=data:image/png;base64," + row.cover.replace(/[|\n\r]/gm, "") + " width=100px /></a>"
								: "No Cover Available"
						}
					},
					{
						data: "title",
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							return "<a href={{ url_for('books') }}?id=" + row.id + ">" + row.title + "</a>"
						}
					},
					{
						data: "author",
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							return "<a href={{ url_for('authors') }}?id=" + row.author_id + ">" + row.author + "</a>"
						}
					},
					{data: "page_count", searchable: false, searchBuilderType: "num"},
					{data: "read_count", searchable: false, searchBuilderType: "num"},
					{data: "genre", searchBuilderType: "string"},
					{
						data: "series",
						searchBuilderType: "string",
						render: function (_, __, row, ___) {
							var cell = row.series ? "<a href={{ url_for('series') }}?id=" + row.series_id + ">" + row.series + "</a>" : null
							return cell
						}
					},
					{data: "series_number", searchBuilderType: "num"},
					{data: "series_number_chron", searchBuilderType: "num"},
					{data: "subseries", searchBuilderType: "string"},
					{data: "subseries_number", searchBuilderType: "num"},
				],
				order: {
					name: 'author',
					dir: 'asc'
				},
				layout: {
					top: {
						searchBuilder: {
							columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
							greyscale: true,
						}
					}
				},
				language: {
					searchBuilder: {title: "<h3>Advanced Search</h3>"}
				},
			}
		);

		table.on('responsive-resize', function (_, __, ____) {
			$('tr').each(function () {$(this).find('td:visible:last').addClass('last-visible-td')});
		});
	});


</script>
{% endblock %}