table {
	border-collapse: separate !important;
	border-spacing: 0 10px !important;
	margin-top: -10px;
	/* correct offset on first border spacing if desired */
}

td {
	border: solid 1px #000;
	border-style: solid none;
	padding: 10px;
	background-color: rgb(232, 232, 232);
}

td:first-child {
	border-left-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

td:last-child {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

nav a {
	color: #d64161;
	font-size: 3em;
	margin-left: 50px;
	text-decoration: none;
}